# Supabase Database & Realtime Credentials
VITE_SUPABASE_URL=https://afrrbvqwiubrxiawqvpj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFmcnJidnF3aXVicnhpYXdxdnBqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgxMTM1NTUsImV4cCI6MjEwMzY4OTU1NX0.czsH1VSBX2oYFoFM_w9y-KUPcevVrtSVw3nXvbXiOzs
